* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.navhead {
    font-family: "Inter", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;

    align-items: center;

    background: white;

    padding: 20px 80px;

    box-shadow: 0 2px 10px rgba(0, 0, 0, .08);
}

.logo img {
    height: auto;
    width: 94;
}

.navhead {

    display: flex;

    list-style: none;

    gap: 40px;

}

/* Links */

.navhead a {

    text-decoration: none;

    color: #555;

    font-size: 16px;

    font-weight: 400;

}

.navhead a:hover {

    color: #1d4ed8;

}

.register-btn {
    text-decoration: none;

    background: #234cc9;

    color: white;

    padding: 15px 30px;

    border-radius: 10px;

    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.register-btn:hover {

    background-color: #230393;
}
.porda{
    background-image: url("./blackbanner.jpg");
    width: 1551px;
    height: 786px;
    color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    object-fit: cover;
    width: 100%;
    
    
}
/*.porda h1{
    width: 959px;
    height: 95px;
    padding-left: 340px;
    padding-top: 136px;
}*/
.writting{

    width:100%;

    height:100%;

    display:flex;

    flex-direction:column;

   /* justify-content:center;*/
   padding-top: 140px;

    align-items:center;

    text-align:center;

    background:rgba(0,0,0,.45);
    /*padding-left: 340px;
    padding-top: 136px;*/

}.porda h1{
   
    color:white;

    font-size:80px;

    font-weight:700;
   
}
.porda span{

    font-style:italic;

}
.porda p{
    color: white;
    max-width: 700px;
    margin: 30px 0;
    font-size: 22px;
    font-weight: 400;
}
.button2{
    margin-top: 280px;
    
   
    background:#234cc9;

    color:white;

    text-decoration:none;

    padding: 20px 40px;

    border-radius:10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;

   font-weight: bolder;

  


}
.button2:hover {

    background-color: #230393;
}
.speakers{
    

    font-family:Arial, sans-serif;

    background:white;



}.speakers{

    width:95%;

    max-width:1400px;

    margin:80px auto;

}.speakers h2{

    text-align:center;

    font-size:60px;

    margin-bottom:60px;

}
.speaker-container{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:35px;

}
.card{
    /*width: 642px;
    height: 324px;*/

    background:white;

    border-radius:10px;

    overflow:hidden;

    box-shadow:0 4px 10px rgba(0,0,0,.08);

}
.card img{

    width:100%;

    height: 320px;

    object-fit:cover;

    display:block;

}
.card-content{

    padding:20px;

}
.card-content span{

    color:#2762e2;

    font-weight:bold;

    text-transform:uppercase;
    font-size: 14px;

}
.card-content h3{

    margin:10px 0;

    font-size:20px;

}
.card-content p{

    color:#666;

    line-height:1.5;
    font-size: 14px;

}